// colors
$color-white: #fff !default
$color-black: #000 !default
$color-mine-shaft: #333 !default
$color-silver: #ccc !default
$color-pacific-blue: #00a9c8 !default

$color-primary: $color-pacific-blue !default
$font-color: $color-mine-shaft !default
$link-color: $color-primary !default
$link-hover-color: darken($color-primary, 20%) !default
$border-color: $color-silver !default

// fonts
$font-family: "font-family" !default
$font-size-root: 16px

// common
$border-radius: 4px !default

// transition
$transition-duration: 300ms !default
$transition-timing-function: ease-out !default
$transition: $transition-duration $transition-timing-function !default
$transition-fade: opacity 0.15s linear !default

// z-index
$z-index-header: 100 !default

// Printing
$print-page-size: a3 !default
$print-body-min-width: map-deep-get($container-widths, "lg") !default
