include ../../templates/mixins

.test-container
    .test
        .test__title {{ title }}
        .test__mq screen max-width {{ breakpoints.sm }}px(mobile) - {{ isMobile }}
        .test__sprite
            +sprite('bell')
        .test__lazyload.lazyload(:data-srcset="`${img}`" v-lazyload)
