=mq-up($breakpoint-arg)
    $breakpoint: map-get($grid-breakpoints, $breakpoint-arg)

    @media (min-width: if($breakpoint, $breakpoint, $breakpoint-arg))
        @content

=mq-down($breakpoint-arg, $include-breakpoint: false)
    $breakpoint: map-get($grid-breakpoints, $breakpoint-arg)
    $breakpoint-part: if($include-breakpoint, 0, 0.02)

    @media (max-width: if($breakpoint, $breakpoint - $breakpoint-part, $breakpoint-arg))
        @content

=mq-between($breakpoint-arg-from, $breakpoint-arg-to, $include-breakpoint: false)
    $breakpoint-from: map-get($grid-breakpoints, $breakpoint-arg-from)
    $breakpoint-to: map-get($grid-breakpoints, $breakpoint-arg-to)
    $breakpoint-part: if($include-breakpoint, 0, 0.02)

    @media (min-width: if($breakpoint-from, $breakpoint-from, $breakpoint-arg-from)) and (max-width: if($breakpoint-to, $breakpoint-to - $breakpoint-part, $breakpoint-arg-to))
        @content
