$fonts-ptsans: 400, 700

@each $value in $fonts-ptsans
  @font-face
    font-family: 'PTSans'
    src: url("~@/resources/fonts/PTSans/PTSans-#{$value}.woff") format("woff"), url("~@/resources/fonts/PTSans/PTSans-#{$value}.woff") format("woff2")
    font-weight: $value
    font-style: normal
    font-display: swap
