@font-face
  src: url("~@/resources/fonts/PTSans/PTSans-Regular.woff") format("woff")
  font-family: "PTSans"
  font-weight: 400
  font-style: normal

@font-face
  src: url("~@/resources/fonts/PTSans/PTSans-Bold.woff") format("woff")
  font-family: "PTSans"
  font-weight: 700
  font-style: normal
